<nav class="flex px-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center" (click)="changePathCallBack('')">
      <span
        class="inline-flex items-center text-3xl font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        /
      </span>
    </li>
    @for (item of pathParts; track item) {
      <li class="inline-flex items-center text-gray-400 hover:text-white" (click)="changePathCallBack(item.path)">
        <svg class="rtl:rotate-180 w-4 h-4 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span
          class="inline-flex items-center text-3xl font-medium">
          {{ item.title }}
        </span>
      </li>
    }
  </ol>
</nav>

